.demo-app-container,
.demo-app-sidenav {
  position: absolute;
  padding-top: 64px;
  height: calc(100vh - 64px);
}


.example-headers-align .mat-expansion-panel-header-description.mat-toolbar,
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0  ;
  justify-content: space-between;
}

.example-headers-align .mat-expansion-panel{
  padding: 14px;
}

.example-headers-align .mat-expansion-panel-header{
  font-size: 16px;
}

.status{
  align-items: center;
  border-radius: 10px;
}

.bodyPre{
  font-size: 16px;
}

.example-headers-align .mat-expansion-panel-header-description {
  font-size: 28px;
  color: #005cbf;
}

.mat-expansion-panel {
  width: 100%;
}

.mainPanel {
  width: 70vw;
}

.ToggleFont {
  display: inline;
  font-family: 'Comic Sans MS', serif;
  font-size: 30px;
  margin-right: 15px;
  margin-top: 10px;
}

.title_background{
  top: 10;
  z-index: 1000;
  position: fixed;
  background-color: #BDD5EA;
  height: 60px;
  width:100%;
}
.add_list_button{
  left:100%;
}


.SlideToggle {
  display: inline;
}

mat-slide-toggle {
  font-size: 18px;
}

mat-panel-title {
  max-width: 200px !important;
  font-size:30px;
  color: #3066bE;
}

.issue_content{
  font-size:20px;
  color:#090c9b;
}

.issue_content span {
  margin-left: 5px;
  color:#090c9b;
}

div.myButton > button {
  border: none;
  background-color: rgba(255, 127, 80, 0);

  font-family: "Comic Sans MS", sans-serif;
  color: 	#404040;
  text-align: center;
  display: inline-block;
  padding: 20px 0 20px 0;
  margin-right: 50px;
  font-size: 22px;

  outline:none;

  border-radius: 10px;
}

div.myButton > button:hover {
  color: 	#F08080;
}

div.myButton > button:last-child {
  margin-right: 0;
}


