<meta charset="UTF-8" />
<div class="ToggleFont">Trello Board : {{Trello_Board}}</div>
<div>
  <ng-container *ngFor="let board_item of board">
    <div class="myButton" style="display: inline; border-bottom: #0b2e13 solid; padding-bottom: 10px">
      <button class={{ListTrackButton}} (click)="getListTrack()">{{board_item.list_name}}</button>
      <button class={{ListTrackButton}} (click)="creatNewCard(board_item.list_ID)">新增卡片</button>

    </div>
    <mat-accordion class="example-headers-align">
      <ng-container *ngFor="let list_item of board_item.list_data">
        <mat-expansion-panel class="mainPanel" hideToggle>
          <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">

            <mat-panel-title>
              <tr style="width: 100%">
                <p style="width: 90%; word-wrap: break-word;">{{list_item.card_title}}</p>
              </tr>
            </mat-panel-title>

            <mat-panel-description>
              <p class="status" style="color: red">open</p>
            </mat-panel-description>

          </mat-expansion-panel-header>
          <br>
          <br>
          <br>
          <div class="issue_content">
            <p>Content: <span>{{list_item.card_content}}</span></p>
            <button (click)="creatNewCard(board_item.list_ID, list_item.card_id)">刪除卡片</button>
          </div>
        </mat-expansion-panel>

      </ng-container>
    </mat-accordion>
  </ng-container>
  <div>
    <table>
      <tr>
        <td>
          <h1>ADD New List</h1>
        </td>
        <td>
          <input placeholder="Trello Key:">
        </td>
        <td>
          <button>add</button>
        </td>
      </tr>
    </table>
  </div>


</div>

