<meta charset="UTF-8" />
<div class = "title_background">
  <table width="95%">
    <tr>
    <td>
      <div class="ToggleFont">Trello Board : {{projectName}}</div>
    </td>
    <td align="right">
      <div>
        <button mat-raised-button extended (click)="createNewList()">新增LIST</button>
        <button mat-raised-button extended (click)="BackToCHooseProject()">返回</button>
      </div>
    </td>
  </table>
</div>


<div style="position:relative ; top: 50px;">
  <ng-container *ngFor="let board_item of lists">
    <div class="myButton" style="display: inline; border-bottom: #0b2e13 solid; padding-bottom: 10px">
      <button class={{ListTrackButton}} (click)="getListTrack()">{{board_item.listName}}</button>
      <button class={{ListTrackButton}} (click)="createNewCard(board_item.listId)">新增卡片</button>
      <button class={{ListTrackButton}} (click)="archiveList(board_item.listId)">封存列表</button>

    </div>
    <div></div>
    <mat-accordion class="example-headers-align">
      <ng-container *ngFor="let list_item of board_item.cards">
        <mat-expansion-panel class="mainPanel" hideToggle>
          <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">

            <mat-panel-title>
              <tr style="width: 100%">
                <p style="width: 90%; word-wrap: break-word;">{{list_item.cardName}}</p>
              </tr>
            </mat-panel-title>

            <mat-panel-description>
              <p class="status" style="color: #f0a202" >{{card_txt}}</p>
            </mat-panel-description>

          </mat-expansion-panel-header>
          <br>
          <br>
          <br>
          <div class="issue_content">
            <p>Content: <span>{{list_item.cardDescription}}</span></p>
            <table width="95%">
              <tr>
                <td align="right">
                  <button mat-raised-button color="primary" extended (click)="deleteCard(list_item.cardId)">刪除卡片</button>
                </td>
              </tr>
            </table>
          </div>
        </mat-expansion-panel>

      </ng-container>
    </mat-accordion>
  </ng-container>

</div>

